<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.springcloud.springcloudprovider.mapper.OlDetailMapper">
  <resultMap id="BaseResultMap" type="com.zjw.springcloud.springcloudpojo.pojo.OlDetail">
    <result column="ordersID" jdbcType="INTEGER" property="ordersid" />
    <result column="lineID" jdbcType="INTEGER" property="lineid" />
    <result column="travelDate" jdbcType="DATE" property="traveldate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ordersID, lineID, travelDate
  </sql>
  <select id="selectByExample" parameterType="com.zjw.springcloud.springcloudpojo.pojo.OlDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ol_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zjw.springcloud.springcloudpojo.pojo.OlDetailExample">
    delete from ol_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zjw.springcloud.springcloudpojo.pojo.OlDetail">
    insert into ol_detail (ordersID, lineID, travelDate
      )
    values (#{ordersid,jdbcType=INTEGER}, #{lineid,jdbcType=INTEGER}, #{traveldate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjw.springcloud.springcloudpojo.pojo.OlDetail">
    insert into ol_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ordersid != null">
        ordersID,
      </if>
      <if test="lineid != null">
        lineID,
      </if>
      <if test="traveldate != null">
        travelDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ordersid != null">
        #{ordersid,jdbcType=INTEGER},
      </if>
      <if test="lineid != null">
        #{lineid,jdbcType=INTEGER},
      </if>
      <if test="traveldate != null">
        #{traveldate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zjw.springcloud.springcloudpojo.pojo.OlDetailExample" resultType="java.lang.Long">
    select count(*) from ol_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ol_detail
    <set>
      <if test="record.ordersid != null">
        ordersID = #{record.ordersid,jdbcType=INTEGER},
      </if>
      <if test="record.lineid != null">
        lineID = #{record.lineid,jdbcType=INTEGER},
      </if>
      <if test="record.traveldate != null">
        travelDate = #{record.traveldate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ol_detail
    set ordersID = #{record.ordersid,jdbcType=INTEGER},
      lineID = #{record.lineid,jdbcType=INTEGER},
      travelDate = #{record.traveldate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>