<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.springcloud.springcloudprovider.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.zjw.springcloud.springcloudpojo.pojo.Orders">
    <id column="ordersID" jdbcType="INTEGER" property="ordersid" />
    <result column="customerID" jdbcType="INTEGER" property="customerid" />
    <result column="ordersDate" jdbcType="DATE" property="ordersdate" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="man_times" jdbcType="INTEGER" property="manTimes" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="effectiveAmount" jdbcType="DECIMAL" property="effectiveamount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ordersID, customerID, ordersDate, amount, man_times, discount, effectiveAmount
  </sql>
  <select id="selectByExample" parameterType="com.zjw.springcloud.springcloudpojo.pojo.OrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where ordersID = #{ordersid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where ordersID = #{ordersid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zjw.springcloud.springcloudpojo.pojo.OrdersExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zjw.springcloud.springcloudpojo.pojo.Orders">
    insert into orders (ordersID, customerID, ordersDate, 
      amount, man_times, discount, 
      effectiveAmount)
    values (#{ordersid,jdbcType=INTEGER}, #{customerid,jdbcType=INTEGER}, #{ordersdate,jdbcType=DATE}, 
      #{amount,jdbcType=DECIMAL}, #{manTimes,jdbcType=INTEGER}, #{discount,jdbcType=DECIMAL}, 
      #{effectiveamount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zjw.springcloud.springcloudpojo.pojo.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ordersid != null">
        ordersID,
      </if>
      <if test="customerid != null">
        customerID,
      </if>
      <if test="ordersdate != null">
        ordersDate,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="manTimes != null">
        man_times,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="effectiveamount != null">
        effectiveAmount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ordersid != null">
        #{ordersid,jdbcType=INTEGER},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="ordersdate != null">
        #{ordersdate,jdbcType=DATE},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="manTimes != null">
        #{manTimes,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="effectiveamount != null">
        #{effectiveamount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zjw.springcloud.springcloudpojo.pojo.OrdersExample" resultType="java.lang.Long">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="record.ordersid != null">
        ordersID = #{record.ordersid,jdbcType=INTEGER},
      </if>
      <if test="record.customerid != null">
        customerID = #{record.customerid,jdbcType=INTEGER},
      </if>
      <if test="record.ordersdate != null">
        ordersDate = #{record.ordersdate,jdbcType=DATE},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.manTimes != null">
        man_times = #{record.manTimes,jdbcType=INTEGER},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=DECIMAL},
      </if>
      <if test="record.effectiveamount != null">
        effectiveAmount = #{record.effectiveamount,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set ordersID = #{record.ordersid,jdbcType=INTEGER},
      customerID = #{record.customerid,jdbcType=INTEGER},
      ordersDate = #{record.ordersdate,jdbcType=DATE},
      amount = #{record.amount,jdbcType=DECIMAL},
      man_times = #{record.manTimes,jdbcType=INTEGER},
      discount = #{record.discount,jdbcType=DECIMAL},
      effectiveAmount = #{record.effectiveamount,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjw.springcloud.springcloudpojo.pojo.Orders">
    update orders
    <set>
      <if test="customerid != null">
        customerID = #{customerid,jdbcType=INTEGER},
      </if>
      <if test="ordersdate != null">
        ordersDate = #{ordersdate,jdbcType=DATE},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="manTimes != null">
        man_times = #{manTimes,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="effectiveamount != null">
        effectiveAmount = #{effectiveamount,jdbcType=DECIMAL},
      </if>
    </set>
    where ordersID = #{ordersid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjw.springcloud.springcloudpojo.pojo.Orders">
    update orders
    set customerID = #{customerid,jdbcType=INTEGER},
      ordersDate = #{ordersdate,jdbcType=DATE},
      amount = #{amount,jdbcType=DECIMAL},
      man_times = #{manTimes,jdbcType=INTEGER},
      discount = #{discount,jdbcType=DECIMAL},
      effectiveAmount = #{effectiveamount,jdbcType=DECIMAL}
    where ordersID = #{ordersid,jdbcType=INTEGER}
  </update>
</mapper>