<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.springcloud.springcloudprovider.mapper.TestManeyMapper">
  <resultMap id="BaseResultMap" type="com.zjw.springcloud.springcloudpojo.pojo.TestManey">
    <id column="maney_id" jdbcType="BIGINT" property="maneyId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="one_id" jdbcType="BIGINT" property="oneId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    maney_id, name, one_id
  </sql>
  <select id="selectByExample" parameterType="com.zjw.springcloud.springcloudpojo.pojo.TestManeyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from test_maney
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_maney
    where maney_id = #{maneyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from test_maney
    where maney_id = #{maneyId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zjw.springcloud.springcloudpojo.pojo.TestManeyExample">
    delete from test_maney
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zjw.springcloud.springcloudpojo.pojo.TestManey">
    insert into test_maney (maney_id, name, one_id
      )
    values (#{maneyId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{oneId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjw.springcloud.springcloudpojo.pojo.TestManey">
    insert into test_maney
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maneyId != null">
        maney_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="oneId != null">
        one_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="maneyId != null">
        #{maneyId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="oneId != null">
        #{oneId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zjw.springcloud.springcloudpojo.pojo.TestManeyExample" resultType="java.lang.Long">
    select count(*) from test_maney
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update test_maney
    <set>
      <if test="record.maneyId != null">
        maney_id = #{record.maneyId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.oneId != null">
        one_id = #{record.oneId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update test_maney
    set maney_id = #{record.maneyId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      one_id = #{record.oneId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjw.springcloud.springcloudpojo.pojo.TestManey">
    update test_maney
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="oneId != null">
        one_id = #{oneId,jdbcType=BIGINT},
      </if>
    </set>
    where maney_id = #{maneyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjw.springcloud.springcloudpojo.pojo.TestManey">
    update test_maney
    set name = #{name,jdbcType=VARCHAR},
      one_id = #{oneId,jdbcType=BIGINT}
    where maney_id = #{maneyId,jdbcType=BIGINT}
  </update>
</mapper>